/*****************************
    * Main CSS file for site
    *Zach Ahr 10/21/2023 Main.css
 *****************************/
 header {
    background-image: linear-gradient(45deg,white 0%, rgb(1, 1, 128) 75%, black 100%);
    padding: .10900em 0.5%;
}

header img {
    float: left;
    padding-right: 1.875%;
    width: 10.6%;
    max-width: 300px;
    min-width: 40px;
}

 html {
    background-image: url("../images/background.jpg");
}

:root {
    --global-color-1: #002280;
}

body {
    background-color: #ccc;
    font-family:Arial, Helvetica, sans-serif;
}

/***Italics when hovering over clickable links*/
a:focus,
a:hover {
    font-style: italic;
}

img {
    max-width: 20%;
    display: block;
}

head {
    width: 25%;
    float: center;   
}

/*Shadow over quote on main page*/
.shadow {
    text-shadow: 1px 1px 1px var(--global-color-1);
}

/*Navigation CSS margins and width*/
#nav_menu {
    clear:left;
}

#nav_menu ul {
    list-style: none;
    position: relative;
}

#nav_menu ul li {
    float: left;
    width: 20%;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%
}

#nav_menu ul ul li {
    float: none;
}

#nav_menu ul li:hover > ul {
    display: block;
}

#nav_menu > ul::after {
    content: "";
    display: block;
}

#nav_menu ul {
    margin: 0;
    padding: 0;
}

#nav_menu ul li:hover ul {
    width: 100%;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    color: #000000;
    padding: 0.7em ;
    text-decoration: none;
    background-color: black;
    color: white;
}

#nav_menu ul li a.current {
    color: blue;
}

#nav_menu ul li a:hover, #nav_menu ul li a:focus {
    background-color: gray;
}

/*Main CSS*/
main {
  clear: left;
  background-color: #fff;
  padding: .9%;
  font-size: 1.25em;
}

/****About Section CSS*****/
#about, #life, #school, #overview, #dog {
    clear: left;
    border-top: 0.1px solid #000;
    border-bottom: 0.1px solid #000;
    padding: .1% .1%;
}

#about, #life, #school, #overview, #dog {
    width: 15%;
    float: left;
    margin: 0 2%;
}

#about dt, #life dt, #school dt, #overview dt, #dog dt {
    font-weight: bold;
}

#dog img {
    max-width: 100%;
    display: block;
}

/****Contact  Page CSS*****/
#contact {
    text-align: center;
}

#contact a {
    color: #0a0066;
    text-decoration: none;
}

#contact img {
    text-align: center;
    display: block;
}

/*Footer CSS*/
footer p {
    font-size: 0.75em;
    text-align: center;
    color: #000000;
    padding: 0 1em;
}

footer p a {
    color: #000000;
    text-decoration: none;
}

footer {
    clear: both;
    border-top: 2px solid black;
    padding: .9375em 1.875%;
    background-image: linear-gradient(45deg, black 0%, rgb(25, 0, 255) 25%, white 100%);
}

footer p{
    font-size: 90%;
    text-align: center;
}


#mobile_menu {
    display: none;
}

@media only screen and (max-width: 800px) {
    html {
      background-image: none;
    }
    body {
      font-size: 90%;
      box-shadow: none;
    }
  }
  
  @media only screen and (max-width: 667px) {
    #nav_menu {
      display: none;
    }
    #mobile_menu {
      display: block;
    }
    header h2 {
      font-size: 200%;
    }
    section{
      width: 90%;
      float: none;
      padding-left: 5%;
      padding-bottom: .5em;
    }
    aside {
      width: 90%;
      float: none;
      padding: 0 5% 1em 5%;
    }
    #nav_list ul {
      width: 50%;
      padding-left: 25%;
      text-align: center;
    }
    #nav_list ul li a {
      padding-left: 0;
    }
  
  
  @media only screen and (max-width: 479px) {
    header h2 {
      font-size: 180%;
    }
    header h3 {
      font-size: 115%;
    }
    section h1 {
      font-size: 130%;
    }
    section h1::first-letter {
      font-size: 180%;
    }
  }
  
  }